:root {
	--white: #FFFFFF;
	--gray-light: #EEEEEE;
	--gray: #A9A9A9;
	--gray-dark: #9A9A9A;
	--blue-light: #75A4F4;
	--blue: #4386FA;
	--blue-dark: #2B74F2;
	--red: #FF0000;
	--blue-highlight: #E0EAF9;
}

#hotkeys {
  width: 560px;
  height: 50px;
  margin: 0;
}

#settings {
  width: 560px;
  height: 500px;
  margin: 0;
}

#menu {
  display: block;
  width: 560px;
  height: 50px;
  margin: 0;
}

.menu-button {
  width: 280px;
  float: left;
  height: 50px;
  background-color: var(--blue);
  cursor: pointer;
}

.menu-button:hover {
  background-color: var(--blue-light);
}

.menu-button[disabled] {
  background-color: var(--blue-dark);
  cursor: default;
}

.menu-button[disabled] {
  background-color: var(--blue-dark);
}

.menu-icon {
  display: block;
}

#create-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

#edit-icon {
  width: 30px;
  height: 30px;
  margin: 10px auto;
}

#content {
  width: 560px;
  height: 450px;
  margin: 0;
}

#hotkey-dropdown-menu {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
}

#hotkey-dropdown-selection {
  font-family: Helvetica;
  background-color: #4CAF50;
  color: white;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  width: 100%;
  border: none;
  text-align: center;
  cursor: pointer;
}

#hotkey-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  z-index: 1;
  max-height: 400px;
  overflow: auto;
}

#hotkey-dropdown-content div {
    color: black;
    height: 30px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-family: Helvetica;
}

/* Change color of dropdown links on hover */
#hotkey-dropdown-content div:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
#hotkey-dropdown-menu:hover #hotkey-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#hotkey-dropdown-menu:hover #hotkey-dropdown-selection {
    background-color: #3e8e41;
}


#loadout-name {
  width: 280px;
  height: 50px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--gray);
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  outline: 0;
}

#link-inputs-container {
  width: 560px;
  height: 350px;
  overflow: auto;
}

.link-input {
  width: 500px;
  height: 30px;
  border-width: 1px;
  border-type: solid;
  border-color: var(--gray);
}


.button {
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--blue);
  float: left;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  border-color: white;
  border-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-light);
}

.loadout-button[disabled] {
  background-color: var(--gray);
  cursor: default;
}

#open-settings {
  border-right-width: 0px;
}

#settings-icon {
  width: 36px;
  height: 36px;
  margin: 7px;
}
